:host {
	font-size: medium;
	text-align: center;
}

fieldset {
	margin-top: 20px;
	margin-bottom: 30px;
}

legend {
    font-size: xx-large;
	font-weight: bold;
}

h1, h2:nth-child(4) {
	color: purple;
}